<div class="row">
  <div class="small-8 columns">
    <h1><%= "Djs for #{@club_night.name}" %></h1>
    <table>
      <thead>
        <tr>
          <th width="300"> DJ Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @djs.each do |dj| %>
            <tr>
            <td><%= link_to dj.dj_name, club_night_dj_path(@club_night, dj), 'data-reveal-ajax' => true, 'data-reveal-id' => 'dj-modal' %></td>
            <td><%= link_to "Delete DJ", club_night_dj_path(@club_night, dj),
                                        method: :delete, data: { confirm: 'Are you sure?' }%></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= link_to "Add DJ", new_club_night_dj_path(@club_night), 'data-reveal-ajax' => true, 'data-reveal-id' => 'new-dj-modal' %> |
    <%= link_to "Back to #{@club_night.name}", club_night_path(@club_night) %>
  </div>
</div>

<% content_for :modals do %>
  <div id="dj-modal" class="reveal-modal">
  </div>
  <div id="new-dj-modal" class='reveal-modal'>
  </div>
<% end %>
