<h1><%= "Djs for #{@club_night.name}" %></h1>

<table>
  <thead>
    <tr>
      <th width="300"> DJ Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @djs.each do |dj| %>
        <tr>
        <td><%= link_to dj.dj_name, club_night_dj_path(@club_night, dj) %></td>
        <td><%= link_to "Delete DJ", club_night_dj_path(@club_night, dj),
                                    method: :delete, data: { confirm: 'Are you sure?' }%></td>
      <% end %>
    </tr>
  </tbody>
</table>

</br>
<%= link_to "Add DJ", new_club_night_dj_path(@club_night) %> |
<%= link_to "Back to #{@club_night.name}", club_night_path(@club_night) %>

