<div class="row">
  <h1>
    <%= "DJ profile for #{@dj.dj_name}" %>
  </h1>
</div>

<div class="row">
  <div class="small-6 columns">
    <p>
      <b>DJ Name:</b>
        <%= @dj.dj_name %>
    </p>
    <p>
      <b>Name:</b>
        <%= @dj.name %>
    </p>
    <p>
      <b>Affiliations:</b>
        <%= @dj.affiliations %>
    </p>
    <p>
      <b>Genres:</b>
        <%= @dj.genres %>
    </p>
    <p>
      <b>Email:</b>
        <%= @dj.email %>
    </p>
    <p>
      <b>Phone:</b>
        <%= @dj.phone %>
    </p>
    <p>
      <b>Facebook:</b>
      <%= link_to @dj.facebook, normalize_uri(@dj.facebook), :target => "_blank" if @dj.facebook %>
    </p>
    <p>
      <b>Soundcloud:</b>
      <%= link_to @dj.soundcloud, normalize_uri(@dj.soundcloud), :target => "_blank" if @dj.soundcloud %>
    </p>
    <p>
      <b>Twitter:</b>
      <%= @dj.twitter %>
    </p>
    <p>
      <b> Web: </b>
      <%= link_to @dj.web, normalize_uri(@dj.web), :target => "_blank" if @dj.web %>
    </p>
    <p>
      <b> Notes: </b>
        <%= @dj.notes %>
      </p>
  </div>
</div>



  <%= link_to "Edit #{@dj.dj_name} Profile", edit_club_night_dj_path(@club_night, @dj) %> |
  <%= link_to "Delete DJ Profile", club_night_dj_path(@club_night, @dj),
                                   method: :delete, data: { confirm: "Are you sure you want to delete #{@dj.dj_name}?"} %> |
  <%= link_to "Back to #{@club_night.name}", club_night_path(@club_night) %>





