<div class="row">
  <div class="small-12 columns">
    <h1>
      <%= "#{@event.name}" %>
    </h1>
  </div>
</div>


<div class="row">
  <div class="small-6 columns">
      <li>
        <b>Date:</b>
          <%= @event.date.to_s(:event_date) %>
      </li>
      <li>
        <b>Start Time:</b>
          <%= @event.start_time.to_s(:club_time) %>
      </li>
      <li>
        <b>End Time:</b>
          <%= @event.end_time.to_s(:club_time) %>
      </li>
      <p>
      <b> Notes: </b>
        <%= @event.notes %>
      </p>
  </div>
</div>
</br>

 <div class="row">
    <div class="small-8 columns">
      <b>Time Slots:</b>
        <% @time_slots.each do |time_slot| %>
          <li>
            <%= link_to "#{time_slot.start_time.to_s(:club_time)} - #{time_slot.end_time.to_s(:club_time)}",
                                            club_night_event_time_slot_path(@club_night, @event, time_slot) %>
            (<%= time_slot.djs.map { |dj| link_to dj.dj_name, club_night_dj_path(@club_night, dj) }.join(", ").html_safe %>)
            <label for="checkbox">
              <%= check_box_tag :confirmed, 0, time_slot.confirmed_by, :class => "custom_checkbox",
                                "data-url" => time_slot_confirmation_path(time_slot), "data-email" => current_user.email %>
              <span class="confirmation">
                <% if time_slot.confirmed_by %>
                  Confirmed by <%= time_slot.confirmed_by.email %>
                <% else %>
                  Confirmed?
                <% end %>
              </span>
            </label>
          </li>
        <% end %>
    </div>
  </div>
</br>
<div class="row">
  <div class="small-11 small-centered columns">
    <%= link_to "Add Time Slot to Event", new_club_night_event_time_slot_path(@club_night, @event, @time_slot) %> |

    <%= link_to "Edit #{@event.name}", edit_club_night_event_path(@club_night, @event) %> |
    <%= link_to "Delete Event", club_night_event_path(@club_night, @event),
                                method: :delete, data: { confirm: "Are you sure you want to delete #{@event.name}?"} %> |
    <%= link_to "Back to #{@club_night.name}", club_night_path(@club_night) %>
  </div>
</div>
