<h1>
  <%= "Invite new member to #{@club_night.name}" %>
</h1>

<%= simple_form_for(@user, :url => club_night_club_night_memberships_path, :html => {:method => :post, :class => 'large-4'}) do |f| %>

  <%= f.input :email %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to #{@club_night.name}", club_night_path(@club_night) %>