<div class="row">
  <div class="small-12 columns">
  <h1>
    <%="#{@club_night.name}" %>
  </h1>
</div>

  <div class="row">
    <div class="small-2 columns">
      <% @djs.each do |dj| %>
        <li>
          <%= link_to dj.dj_name, club_night_dj_path(@club_night, dj) %>
        </li>
      <% end %>
    </div>
  <div class="row">
    <div class="small-4 columns">
      <% @events.each do |event| %>
        <li>
          <%= link_to event.name, club_night_event_path(@club_night, event) %>
        </li>
      <% end %>
    </div>
  </div>

    <div class="small-4 columns small-offset-6 columns">
       <div class="panel">
        <li>
          <b>Venue:</b>
          <%= @club_night.venue %>
        </li>
        <li>
          <b>Genres:</b>
          <%= @club_night.genres %>
        </li>
        <li>
          <b>Start Time:</b>
          <%= @club_night.start_time.to_s(:club_time) %>
        </li>
        <li>
          <b>End Time:</b>
          <%= @club_night.end_time.to_s(:club_time) %>
        </li>
        <ul>
          <b>Notes:</b>
          <%= @club_night.notes %>
        </ul>


        <%= link_to "Edit", edit_club_night_path(@club_night) %> | <%= link_to "Delete", club_night_path(@club_night), method: :delete,
                                                                                data: { confirm: "Are you sure you want to delete #{@club_night.name}?" } %>
      </div>
    </div>
  </div>
</div>


<%= link_to "Add an Event to #{@club_night.name}", new_club_night_event_path(@club_night) %> |
<%= link_to "Add a DJ to #{@club_night.name}", new_club_night_dj_path(@club_night) %> |
<%= link_to "Back to Dashboard", dashboard_path %>