<div class="row">
  <div class="small-6 columns">
  <h1>
    <%="#{@club_night.name}" %>
  </h1>
</div>

  <div class="row">
    <div class="small-6 columns">
       <div class="panel">
        <li>
          <b>Venue:</b>
          <%= @club_night.venue %>
        </li>
        <li>
          <b>Genres:</b>
          <%= @club_night.genres %>
        </li>
        <li>
          <b>Start Time:</b>
          <%= @club_night.start_time.to_s(:club_time) %>
        </li>
        <li>
          <b>End Time:</b>
          <%= @club_night.end_time.to_s(:club_time) %>
        </li>
        <ul>
          <b>Notes:</b>
          <%= @club_night.notes %>
        </ul>

        <%= link_to "Members", club_night_club_night_memberships_path(@club_night) %> |
        <%= link_to "DJs", club_night_djs_path(@club_night) %> |
        <%= link_to "Edit", edit_club_night_path(@club_night) %> | <%= link_to "Delete", club_night_path(@club_night), method: :delete,
                                                                                data: { confirm: "Are you sure you want to delete #{@club_night.name}?" } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div id="events">
      <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @events_by_date[date] %>
        <ul>
          <% @events_by_date[date].each do |event| %>
            <li>
              <%= link_to event.name, club_night_event_path(@club_night, event), 'data-reveal-ajax' => true, 'data-reveal-id' => 'club-night-modal' %>
            </li>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-9 small-centered columns">
    <%= link_to "Add an Event to #{@club_night.name}", new_club_night_event_path(@club_night) %> |
    <%= link_to "Add a DJ to #{@club_night.name}", new_club_night_dj_path(@club_night) %> |
    <%= link_to "Back to Dashboard", dashboard_path %>
  </div>
</div>

<% content_for :modals do %>
  <div id="club-night-modal" class="reveal-modal">
  </div>
<% end %>